<template>
	<v-app dark absolute>
		<v-content>
			<v-container>
				<v-dialog v-model="loadingDialog" persistent width="65">
					<v-card dark>
						<v-card-text>
							<v-progress-circular indeterminate></v-progress-circular>
						</v-card-text>
					</v-card>
				</v-dialog>
				<chat-dialog
					:open="chatDialog"
					:APIlib="APIlib"
					:link="link"
					@error="msgSnackbar"
					@close="closeChat"
					:name="name"
					:viewers="viewers"
					:fullwindow="true"
				/>
				<v-snackbar v-model="snackbar.active" color="error" :top="true" :right="true" :timeout="6000">
					{{ snackbar.text }}
					<v-btn dark flat @click="snackbar.active = false">Close</v-btn>
				</v-snackbar>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import ChatDialog from "@/components/ChatDialog";
import Shared from "@/helper/Shared";
import { ipcRenderer, remote } from "electron";
import { EmoteFetcher, EmoteParser } from "twitch-emoticons";

export default {
	components: {
		ChatDialog
	},
	data() {
		return {
			link: "",
			name: "",
			viewers: "",
			APIlib: null,
			chatDialog: false,
			loadingDialog: false,
			snackbar: {
				active: false,
				text: ""
			},
			reloadInterval: null
		};
	},
	methods: {
		msgSnackbar: function(msg) {
			this.snackbar.active = true;
			this.snackbar.text = msg;
		},
		loadData: function([link, name, viewers]) {
			this.loadingDialog = true;

			const fetcher = new EmoteFetcher();

			Shared.setEmoteParser(
				new EmoteParser(fetcher, {
					template: "<img src='{link}'></img>",
					match: /([^\s\\]+)/g
				})
			);

			Promise.all([
				fetcher.fetchTwitchEmotes(),
				fetcher.fetchBTTVEmotes()
			]).then(() => {
				this.loadingDialog = false;
			});

			this.APIlib = Shared.getAPILibWithLink(link);
			this.name = name;
			this.viewers = viewers;
			this.link = link;
			this.chatDialog = true;
		},
		closeChat: function() {
			remote.getCurrentWindow().close();
		},
		checkState: function() {
			this.APIlib.getStatusChannel(this.link).then(
				([isAlive, streamTitle, viewers]) => { // eslint-disable-line no-unused-vars
					this.viewers = viewers;
				}
			);
		},
		stateReload: function() {
			this.checkState();

			this.reloadInterval = setInterval(() => {
				this.checkState();
			}, 60000);
		}
	},
	created() {
		ipcRenderer.on("get-data-chat", (event, args) => {
			this.loadData(args);
			this.stateReload();
		});
	}
};
</script>