<template>
	<v-app dark absolute>
		<v-toolbar app fixed clipped-left class="dragZone" height="64">
			<v-toolbar-title class="unselectText">Streamlink Library</v-toolbar-title>
			<v-spacer/>
			<div class="noDragZone d-flex">
				<direct-link @msg="msgSnackbar"></direct-link>
				<v-toolbar-items>
					<v-btn icon @click="dialogs.configDialog = true">
						<v-icon>fas fa-cog</v-icon>
					</v-btn>
					<v-btn icon @click="editData" v-if="isDevelopment">
						<v-icon>fas fa-external-link-alt</v-icon>
					</v-btn>
				</v-toolbar-items>
			</div>

			<div class="noDragZone ml-5 d-flex">
				<v-toolbar-items>
					<v-btn icon @click="minimizeWindow">
						<v-icon>fas fa-window-minimize</v-icon>
					</v-btn>
					<v-btn icon @click="maximizeWindow">
						<v-icon>fas fa-window-maximize</v-icon>
					</v-btn>
					<v-btn icon @click="closeWindow">
						<v-icon>fas fa-times</v-icon>
					</v-btn>
				</v-toolbar-items>
			</div>

			<v-dialog v-model="dialogs.loadingDialog" persistent width="65">
				<v-card dark>
					<v-card-text>
						<v-progress-circular indeterminate></v-progress-circular>
					</v-card-text>
				</v-card>
			</v-dialog>
		</v-toolbar>

		<v-content>
			<v-container>
				<config-dialog :open="dialogs.configDialog" @close="dialogs.configDialog = false"/>
				<span class="headline unselectText">Bookmarks</span>
				<v-btn icon color="primary" @click="openCreateDialog" class="mt-0">
					<v-icon small>fas fa-plus</v-icon>
				</v-btn>
				<v-btn icon color="orange" @click="makeReload" class="mt-0" :loading="reloadAll">
					<v-icon small>fas fa-sync-alt</v-icon>
				</v-btn>

				<insert-dialog
					:open="dialogs.createDialog"
					@cancel="dialogs.createDialog = false"
					@create="addBookmark"
				/>
				<edit-dialog
					:open="dialogs.editDialog"
					:index="edit.index"
					:item="edit.item"
					@cancel="dialogs.editDialog = false"
					@edit="editBookmark"
				/>

				<v-layout align-center justify-space-around row fill-height wrap>
					<bookmark
						v-for="(item, index) in bookmarks"
						:key="index"
						:index="index"
						:name="item.name"
						:link="item.link"
						:reload-state="reloadAll"
						:type="item.type"
						@erase="deleteBookmark"
						@edit="openEditDialog"
						@msg="msgSnackbar"
					/>
				</v-layout>
				<v-snackbar v-model="snackbar.active" color="error" :top="true" :right="true" :timeout="6000">
					{{ snackbar.text }}
					<v-btn dark flat @click="snackbar.active = false">Close</v-btn>
				</v-snackbar>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import Store from "electron-store";
const store = new Store();
import Bookmark from "@/components/Bookmark";
import ConfigDialog from "@/components/ConfigDialog";
import InsertDialog from "@/components/InsertDialog";
import EditDialog from "@/components/EditDialog";
import DirectLink from "@/components/DirectLink";
import Shared from "@/helper/Shared";
import { EmoteFetcher, EmoteParser } from "twitch-emoticons";

export default {
	components: {
		Bookmark,
		InsertDialog,
		EditDialog,
		DirectLink,
		ConfigDialog
	},
	data() {
		return {
			bookmarks: [],
			dialogs: {
				createDialog: false,
				editDialog: false,
				loadingDialog: false,
				configDialog: false
			},
			edit: {
				item: {},
				index: ""
			},
			reloadAll: false,
			snackbar: {
				active: false,
				text: ""
			},
			isDevelopment: process.env.NODE_ENV !== "production"
		};
	},
	methods: {
		setData: function() {
			store.set("bookmarks", this.bookmarks);
		},
		loadData: function() {
			this.bookmarks = store.get("bookmarks", []);
		},
		openCreateDialog: function() {
			this.dialogs.createDialog = true;
		},
		openEditDialog: function(index) {
			this.edit.item = this.bookmarks[index];
			this.edit.index = index;

			this.dialogs.editDialog = true;
		},
		addBookmark: function(data) {
			this.dialogs.createDialog = false;

			data.type = Shared.checkTypeLink(data.link);

			this.bookmarks.push(Object.assign({}, data));
			this.setData();
		},
		editBookmark: function([index, data]) {
			this.dialogs.editDialog = false;

			data.type = Shared.checkTypeLink(data.link);

			this.bookmarks[index] = data;
			this.setData();
			this.edit.item = {};
			this.makeReload();
		},
		deleteBookmark: function(index) {
			this.bookmarks.splice(index, 1);

			this.setData();
		},
		msgSnackbar: function(msg) {
			this.snackbar.active = true;
			this.snackbar.text = msg;
		},
		makeReload: function() {
			this.reloadAll = true;
			setTimeout(() => {
				this.reloadAll = false;
			}, 1000);
		},
		initParserEmotes: function() {
			const fetcher = new EmoteFetcher();

			Shared.setEmoteParser(
				new EmoteParser(fetcher, {
					template: "<img src='{link}'></img>",
					match: /([^\s\\]+)/g
				})
			);

			Promise.all([
				fetcher.fetchTwitchEmotes(),
				fetcher.fetchBTTVEmotes()
			]).then(() => {
				this.dialogs.loadingDialog = false;
			});
		},
		editData: function() {
			store.openInEditor();
		},
		minimizeWindow: function() {
			const window = require("electron").remote.getCurrentWindow();
			window.minimize();
		},
		maximizeWindow: function() {
			const window = require("electron").remote.getCurrentWindow();
			if (!window.isMaximized()) {
				window.maximize();
			} else {
				window.unmaximize();
			}
		},
		closeWindow: function() {
			const window = require("electron").remote.getCurrentWindow();
			window.close();
		}
	},
	created: function() {
		this.dialogs.loadingDialog = true;
		this.initParserEmotes();
		this.loadData();
	}
};
</script>


<style>
html {
	overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1616162b;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #161616cc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #161616b2;
}

.unselectText {
	user-select: none;
}

.dragZone {
	-webkit-app-region: drag;
}

.noDragZone {
	-webkit-app-region: no-drag;
}
</style>
