<template>
	<v-card v-shortkey="['ctrl', index + 1]" @shortkey="playStream" class="bookmark mt-5 mx-1">
		<v-card-title primary-title>
			<div class="text-xs-center bookmarkText">
				<div class="headline unselectText">
					<v-tooltip top :disabled="!state.showTitle">
						<template #activator="data">
							<div v-on="data.on" style="height: 36px;">
								{{name}}
								<v-icon
									v-if="type == 'twitch'"
									class="iconType mb-1"
									:color="state.colorsState[state.actualColorState]"
								>fab fa-twitch fa-sm</v-icon>
								<v-icon
									v-if="type == 'youtube'"
									class="iconType mb-1"
									:color="state.colorsState[state.actualColorState]"
								>fab fa-youtube fa-sm</v-icon>
								<span v-if="state.isAlive" class="viewersCount ml-1 d-inline-block">{{state.viewers}}</span>
							</div>
						</template>
						<span>{{state.streamTitle}}</span>
					</v-tooltip>
				</div>
				<span class="grey--text">
					<a :href="link" class="bookmarkLink">{{link}}</a>
				</span>
			</div>
		</v-card-title>

		<v-card-actions>
			<v-layout align-center justify-space-around row>
				<v-btn
					flat
					icon
					color="green"
					@click.exact="playStream"
					:loading="isLoadingStream"
					:disabled="!state.isAlive && type != ''"
				>
					<v-icon small>fas fa-play</v-icon>
				</v-btn>
				<v-btn flat icon color="yellow" @click="edit">
					<v-icon small>fas fa-pen</v-icon>
				</v-btn>
				<v-btn flat icon color="red" @click="dialogs.deleteDialog = true">
					<v-icon small>fas fa-trash</v-icon>
				</v-btn>
				<v-btn
					flat
					icon
					@click.exact="dialogs.chatDialog = true;"
					@click.ctrl="openChatInWindow"
					:disabled="state.isAlive == null"
				>
					<v-icon small>fas fa-comment</v-icon>
				</v-btn>
			</v-layout>
		</v-card-actions>
		<v-dialog
			v-model="dialogs.deleteDialog"
			persistent
			max-width="600px"
			dark
			v-shortkey="['esc']"
			@shortkey.native="dialogs.deleteDialog ? dialogs.deleteDialog = false : null"
		>
			<v-card>
				<v-card-title>
					<v-spacer></v-spacer>
					<span class="headline">Do you want to delete this bookmark?</span>
					<v-spacer></v-spacer>
				</v-card-title>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="green darken-1" flat @click="dialogs.deleteDialog = false">Cancel</v-btn>
					<v-btn color="red darken-1" flat @click="erase">Delete</v-btn>
					<v-spacer></v-spacer>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<chat-dialog
			:open="dialogs.chatDialog"
			:APIlib="APIlib"
			:link="link"
			@error="showError"
			@close="dialogs.chatDialog = false"
			:name="name"
			:viewers="state.viewers"
			:fullwindow="false"
		/>
	</v-card>
</template>

<script>
import Store from "electron-store";
const store = new Store();
import StreamlinkPlay from "@/helper/StreamlinkPlay";
import ChatDialog from "@/components/ChatDialog";
import Shared from "@/helper/Shared";
import Notifier from "node-notifier";
import path from "path";
import { ipcRenderer } from "electron";

export default {
	props: ["index", "name", "link", "reload-state", "type"],
	data() {
		return {
			dialogs: {
				deleteDialog: false,
				chatDialog: false
			},
			state: {
				isAlive: null,
				colorsState: ["red", "green", "grey"],
				actualColorState: 2,
				reloadInterval: null,
				viewers: 0,
				streamTitle: null,
				showTitle: false
			},
			isLoadingStream: false,
			clearMessagesInterval: null,
			APIlib: null
		};
	},
	components: {
		ChatDialog
	},
	methods: {
		playStream: function() {
			if (!this.isLoadingStream) {
				this.isLoadingStream = true;

				StreamlinkPlay.play(this.link)
					.then(result => {
						this.isLoadingStream = false;
						if (this.dialogs.chatDialog) {
							this.dialogs.chatDialog = false;
						}

						if (/error/.test(result.stdout)) {
							this.$emit("msg", result.stdout);
						}
					})
					.catch(err => {
						this.isLoadingStream = false;
						this.$emit("msg", err);
					});

				setTimeout(() => {
					this.isLoadingStream = false;
				}, 5000);

				if (store.get("config.openChatAuto", true)) {
					if (this.type != "") {
						this.dialogs.chatDialog = true;
					}
				}
			}
		},
		erase: function() {
			this.dialogs.deleteDialog = false;

			this.$emit("erase", this.index);
		},
		edit: function() {
			this.$emit("edit", this.index);
		},
		checkState: function(showNotification) {
			if (this.APIlib != null) {
				this.APIlib.getStatusChannel(this.link).then(
					([isAlive, streamTitle, viewers]) => {
						if (
							this.state.isAlive != isAlive &&
							!this.state.isAlive &&
							showNotification &&
							store.get("config.showNotifications", true)
						) {
							this.notifyIsLive();
						}

						this.state.isAlive = isAlive;
						this.state.actualColorState = isAlive;

						this.state.streamTitle = streamTitle;
						this.state.showTitle = !!streamTitle;
						this.state.viewers = viewers;
					}
				);
			} else {
				this.state.isAlive = null;
				this.state.actualColorState = 2;
				this.state.streamTitle = null;
				this.state.showTitle = false;
				this.state.viewers = 0;
			}
		},
		notifyIsLive: function() {
			Notifier.notify(
				{
					title: "Streamlink Library",
					message: `${this.name} is live!`,
					icon: path.join(__static, "logo.png"), // eslint-disable-line no-undef
					wait: true
				},
				(err, response) => {
					if (response.includes("clicked")) {
						this.playStream();
					}
				}
			);
		},

		stateReload: function() {
			if (this.state.reloadInterval) {
				clearInterval(this.state.reloadInterval);
			}

			this.APIlib = Shared.getAPILib(this.type);

			this.checkState(false);

			this.state.reloadInterval = setInterval(() => {
				this.checkState(true);
			}, 60000);
		},
		showError: function(error) {
			this.$emit("msg", error);
		},
		openChatInWindow: function() {
			ipcRenderer.send("open-chat-dialog", [
				this.link,
				this.name,
				this.state.viewers
			]);
		}
	},
	created: function() {
		this.stateReload();
	},
	watch: {
		reloadState: function() {
			if (this.reloadState) {
				this.stateReload();
			}
		}
	}
};
</script>

<style>
.bookmarkLink:link {
	color: unset;
}

.viewersCount {
	font-size: 13px;
	color: hsla(0, 0%, 100%, 0.5);
	vertical-align: middle;
	height: 35px;
}

.bookmarkText {
	width: 100%;
}
</style>