<template>
	<div class="message pb-1">
		<span class="font-weight-thin chatHour mr-1" v-if="config.showTimeInChat">{{this.now}}</span>
		<img
			class="icon mr-1"
			v-if="msg.badges.broadcaster != null && config.showUserBadges"
			src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1"
		>
		<img
			class="icon mr-1"
			v-if="msg.badges.premium != null && config.showUserBadges"
			src="https://static-cdn.jtvnw.net/badges/v1/a1dd5073-19c3-4911-8cb4-c464a7bc1510/1"
		>
		<img
			class="icon mr-1"
			v-if="msg.badges.moderator != null && config.showUserBadges"
			src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/3"
		>
		<img
			class="icon mr-1"
			v-if="msg.badges.partner != null && config.showUserBadges"
			src="https://static-cdn.jtvnw.net/badges/v1/d12a2e27-16f6-41d0-ab77-b780518f00a3/3"
		>
		<span class="subheading username font-weight-bold" :style="{color: msg.color}">{{msg.user}}:&nbsp;</span>
		<span class="body-1 chatMessage ma-0" ref="message" v-html="formatedMsg"></span>
	</div>
</template>

<script>
import Store from "electron-store";
const store = new Store();
import Shared from "@/helper/Shared";
import dayjs from "dayjs";

export default {
	props: ["msg"],
	data() {
		return {
			difToAutomaticScroll: 7,
			difToScroll: 5,
			formatedMsg: "",
			now: dayjs().format("HH:mm"),
			config: store.get("config", Shared.getDefaultConfig())
		};
	},
	methods: {
		formatURLs: function() {
			var regex = Shared.getUrlRegex();

			const subst = `<a href="$&">$&</a>`;

			const result = this.msg.message.replace(regex, subst);
			this.formatedMsg = result;
		},
		formatEmotes: function() {
			// console.log(mainGlobal.getShared().emoteParser);
			this.formatedMsg = Shared.getEmoteParser().parse(this.formatedMsg);
		},

		automaticScroll: function() {
			let chat = this.$el.parentElement;
			// let chat = this.$el.parentElement.parentElement.parentElement;

			let scrollAvailable = chat.clientHeight + chat.scrollTop;
			let heightMessage = this.$el.scrollHeight + 9;
			// let heightMessage = this.$refs['message'].scrollHeight;
			let heightChat = chat.scrollHeight;
			// this.difToScroll = heightMessage / 3
			this.difToScroll = heightMessage / 7;

			let isMaxScroll =
				heightMessage + scrollAvailable + this.difToScroll >=
				heightChat;
			let isFirstScroll = heightChat - scrollAvailable < heightMessage;

			if (isMaxScroll || isFirstScroll) {
				chat.scrollTop = heightChat;
			}
		}
	},
	created() {
		this.formatURLs();
		this.formatEmotes();
	},
	mounted() {
		this.automaticScroll();
	}
};
</script>

<style>
.message {
	overflow-wrap: break-word;
	align-items: center;
}

.message * {
	display: inline;
	vertical-align: middle;
}

.chatHour {
	font-size: 10px;
}

.icon {
	width: 18px;
}

.chatMessage {
	width: 70%;
}
</style>

