<template>
	<v-dialog v-model="openDialog" scrollable max-width="90%" dark :fullscreen="fullwindow">
		<v-card overflow-x-hidden>
			<v-card-title :class="{ dragZone: fullwindow}">
				<v-spacer></v-spacer>
				<span class="headline">{{name}} - {{viewers}} viewers</span>
				<v-spacer></v-spacer>
				<v-btn flat icon @click="openInWindow" v-if="fullwindow == false">
					<v-icon small>fas fa-external-link-alt</v-icon>
				</v-btn>
				<v-btn flat icon @click="scrollAllChat" :class="{ noDragZone: fullwindow}">
					<v-icon small>fas fa-chevron-down</v-icon>
				</v-btn>
				<v-btn flat icon @click="closeChat" :class="{ noDragZone: fullwindow}">
					<v-icon small>fas fa-times</v-icon>
				</v-btn>
			</v-card-title>

			<v-card-text overflow-x-hidden ref="chatContainer" style="height: 100%;">
				<chat-message v-for="(msg) in messages" :key="msg.id" :msg="msg"></chat-message>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
import ChatMessage from "@/components/ChatMessage";
import { ipcRenderer } from "electron";

export default {
	props: ["open", "APIlib", "link", "name", "viewers", "fullwindow"],
	components: {
		ChatMessage
	},
	data() {
		return {
			messages: [],
			chatConnection: null,
			clearMessagesInterval: null,
			openDialog: false
		};
	},
	methods: {
		showChat: function() {
			this.openDialog = true;

			this.messages = [];

			try {
				this.chatConnection = this.APIlib.initChat(
					this.link,
					this.messages
				);

				this.clearMessagesInterval = setInterval(() => {
					if (this.messages.length > 50) {
						this.messages.splice(0, this.messages.length - 25);
					}
				}, 60000);
			} catch (error) {
				this.$emit("error", error);
				this.closeChat();
			}
		},
		closeChat: function() {
			this.openDialog = false;

			this.messages = [];

			clearInterval(this.clearMessagesInterval);
			this.APIlib.closeConnection(this.chatConnection);
			this.$emit("close");
		},
		scrollAllChat: function() {
			this.$refs["chatContainer"].scrollTop = this.$refs[
				"chatContainer"
			].scrollHeight;
		},
		openInWindow: function() {
			ipcRenderer.send("open-chat-dialog", [this.link, this.name, this.viewers])
		}
	},
	watch: {
		open: function() {
			if (this.open) {
				this.showChat();
			}
		},
		openDialog: function() {
			if (!this.openDialog) {
				this.closeChat();
			}
		}
	}
};
</script>

<style>
</style>

