
<template>
	<v-dialog v-model="open" persistent max-width="600px" dark scrollable>
		<v-card>
			<v-card-title>
				<span class="headline">Options</span>
			</v-card-title>

			<v-card-text>
				<v-container grid-list-md>
					<v-layout align-left justify-space-around column>
						<v-switch v-model="config.showUserBadges" label="Show user badges"></v-switch>
						<v-switch v-model="config.showTimeInChat" label="Show timestamp in chat"></v-switch>
						<v-switch v-model="config.openChatAuto" label="Open the chat when opening a stream"></v-switch>
						<v-switch
							v-model="config.showNotifications"
							label="Show a notification when a stream goes live"
						></v-switch>
						<v-select
							v-model="config.qualityStream"
							:items="config.qualityOptions"
							label="Stream Quality"
						></v-select>
					</v-layout>
				</v-container>
			</v-card-text>

			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="red darken-1" flat @click="close">Close</v-btn>

				<v-btn color="green darken-1" flat @click="save">Apply</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import Shared from "@/helper/Shared"
import Store from "electron-store";
const store = new Store();

export default {
	props: ["open"],
	data() {
		return {
			config: {
				showUserBadges: true,
				showTimeInChat: true,
				showNotifications: true,
				openChatAuto: true,
				qualityStream: "Best",
				qualityOptions: ["Best", "Worst"]
			}
		};
	},
	methods: {
		save() {
			this.config.qualityStream = this.config.qualityStream.toLowerCase();
			store.set("config", this.config);
			this.config.qualityStream = this.config.qualityStream.replace(
				/\b\w/g,
				l => l.toUpperCase()
			);
			this.$emit("close");
		},
		close() {
			this.config = store.get("config", Shared.getDefaultConfig());
			this.config.qualityStream = this.config.qualityStream.replace(
				/\b\w/g,
				l => l.toUpperCase()
			);
			this.$emit("close");
		}
	},
	created() {
		this.config = store.get("config", Shared.getDefaultConfig());
		this.config.qualityStream = this.config.qualityStream.replace(
			/\b\w/g,
			l => l.toUpperCase()
		);
	}
};
</script>
