<template>
	<div class="d-inline-flex">
			<v-text-field label="Link to play" color="grey" v-model="link" @change="playStream" single-line></v-text-field>
			<v-btn
				icon
				color="green"
				@click="playStream"
				:loading="loadingStream"
				v-shortkey="['p']"
				@shortkey.native="copyAndPlay"
				class="pl-1 mb-3 mt-3"
			>
				<v-icon small>fas fa-play</v-icon>
			</v-btn>
	</div>
</template>

<script>
import StreamlinkPlay from "@/helper/StreamlinkPlay";
import { clipboard } from "electron";

export default {
	data() {
		return {
			link: "",
			loadingStream: false
		};
	},
	methods: {
		playStream: function() {
			if (!this.loadingStream && this.link != "") {
				this.loadingStream = true;

				StreamlinkPlay.play(this.link)
					.then(result => {
						this.loadingStream = false;
						if (/error/.test(result.stdout)) {
							this.$emit("msg", result.stdout);
						}
					})
					.catch(err => {
						this.loadingStream = false;
						this.$emit("msg", err);
					});

				setTimeout(() => {
					this.loadingStream = false;
				}, 5000);
			}
		},
		copyAndPlay: function() {
			this.link = clipboard.readText();
			this.playStream();
		}
	}
};
</script>

<style>
</style>

