<template>
	<v-dialog
		v-model="open"
		persistent
		max-width="600px"
		dark
		v-shortkey="['esc']"
		@shortkey.native="open ? $emit('cancel') : null"
	>
		<v-form v-model="formValid" ref="form">
			<v-card>
				<v-card-title>
					<span class="headline">Edit Bookmark</span>
				</v-card-title>

				<v-card-text>
					<v-container grid-list-md>
						<v-layout align-center justify-space-around row>
							<v-flex>
								<v-text-field
									label="Name"
									autofocus
									:rules="nameRules"
									v-model="editItem.name"
									prepend-icon="fas fa-tag fa-lg"
									@keyup.enter="isFormValid"
									@keyup.esc="$emit('cancel')"
								></v-text-field>
							</v-flex>
							<v-flex>
								<v-text-field
									label="Link"
									:rules="linkRules"
									v-model="editItem.link"
									prepend-icon="fas fa-link fa-lg"
									@keyup.enter="isFormValid"
									@keyup.esc="$emit('cancel')"
								></v-text-field>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="red darken-1" flat @click="$emit('cancel')">Close</v-btn>

					<v-btn color="green darken-1" :disabled="!formValid" flat @click="emitEdit">Edit</v-btn>
				</v-card-actions>
			</v-card>
		</v-form>
	</v-dialog>
</template>

<script>
import Shared from "@/helper/Shared";

export default {
	props: ["open", "index", "item"],
	data() {
		return {
			editItem: {},
			formValid: true,
			nameRules: [v => (!!v && v.trim() != "") || "Name is required"],
			linkRules: [
				v => (!!v && v.trim() != "") || "Link is required",
				v => (!!v && Shared.getUrlRegex().test(v)) || "Link isn't valid"
			]
		};
	},
	methods: {
		emitEdit() {
			this.$emit("edit", [this.index, this.editItem]);
		},
		isFormValid() {
			if (this.formValid) {
				this.emitEdit();
			}
		}
	},
	watch: {
		open: function() {
			if (this.open) {
				this.editItem = Object.assign({}, this.item);
			}
		}
	}
};
</script>
